<header class="container main-header" role="banner">
      {{ page.header }}
        <a class="branding">
         {{page.brand}}
        </a>
    
   <div class="main-navigation">
    {{ page.main_navigation}}
   </div> 

</header>
  <div class="board">
  <section class="container wrapper" role="main">
      {{ page.content }}
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  </section>
  </div>
{% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}